<div style="background-color:rgba(215, 215,215,0.3);" class="card col-lg-4 offset-lg-4 mt-5">
    <div class="card-body">


<form>
    <h4 style="text-align: center;">Books</h4>
    <div class="form-group">
      <label for="exampleInputEmail1">Book Title</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Author</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Publisher</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">No Of Books</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
